//Normalize styles
@import "vendor";

//Fonts
@import "fonts";

//CSS variables
@import "vars";

//Main styles
* {
  font-family: "Ubuntu-Regular";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}

li {
  list-style-type: none;
}

//Blocks

@import "./blocks/core";
@import "./blocks/header";
@import "./blocks/mainBlock";
@import "./blocks/modal";
@import "./blocks/otherTours";
